@import url('https://fonts.cdnfonts.com/css/roboto');
.App{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56vw;
}

.container{
  background-color: rgb(227, 242, 255);

  width: 30vw;
  height: 40vw;

  border-radius: 3vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-text{
  font-size: 4vw;
  margin-top: 3vw;
  font-family: Roboto;
}

.schet-text{
  font-size: 12vw;
  margin-top: 1vw;
  font-family: Roboto;
}

.container-button{
  margin-top: 2vw;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  
  font-size: 5.5vw;
}

#button-1{
  background-color: rgb(220, 91, 91);
  border: 0px solid;
}
#button-1:active{
  transform: translateY(0.1vw);
}
#button-2{
  background-color: rgb(66, 196, 66);
  border: 0px solid;
}

#button-2:active{
  transform: translateY(0.1vw);
}
